extend layout
block content
	h1 #{title}
	p.
		La lalalala ~~~
	p.
		《奇葩说第二季》于2015年6月26日开播，每周五、周六晚在爱奇艺独家播出，由马东主持，金星和蔡康永担任常驻导师，大S、高晓松等将担任嘉宾“女神”。
block sidebar
	.block
		h1 Right Sidebar
		p.
			lalala
		br
		.readmore
			a(href="http://www.google.com") Read More
